<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
   <!-- Aanpassing localRepository -->
   <localRepository>c:/ws/repo</localRepository>
   <mirrors>
       <!-- Gebruik Nexus als centrale repository. -->
       <mirror>
           <mirrorOf>*</mirrorOf>
           <url>https://nexus.belastingdienst.nl/nexus/repository/repo</url>
       </mirror>
   </mirrors>
   <servers>
    <server>
      <id>release-candidates</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>sites</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
  </servers>
  <pluginGroups>
    <pluginGroup>nl.belastingdienst.dps.flywaydb</pluginGroup>
    <pluginGroup>org.flywaydb</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>sonarqube-host</id>
      <properties>
        <sonar.host.url>https://qmp.belastingdienst.nl/sonar/</sonar.host.url>
        <sonar.login>${sonar.token}</sonar.login>
      </properties>
    </profile>
    <profile>
      <id>nexus-deploy</id>
      <properties>
        <snapshotRepository.id>snapshots</snapshotRepository.id>
        <snapshotRepository.name>snapshots</snapshotRepository.name>
        <snapshotRepository.url>https://nexus.belastingdienst.nl/nexus/repository/snapshots</snapshotRepository.url>
        <releaseRepository.id>release-candidates</releaseRepository.id>
        <releaseRepository.name>release-candidates</releaseRepository.name>
        <releaseRepository.url>https://nexus.belastingdienst.nl/nexus/repository/release-candidates</releaseRepository.url>
		<sitesRepository.id>sites</sitesRepository.id>
        <sitesRepository.name>Nexus sites repository</sitesRepository.name>
        <sitesRepository.url>dav:https://nexus.belastingdienst.nl/sites/bcao.repo.server/sites/${intern.site}</sitesRepository.url>
        <project.groupId>nl.belastingdienst.dps.flyway</project.groupId>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>sonarqube-host</activeProfile>
    <activeProfile>nexus-deploy</activeProfile>
  </activeProfiles>
</settings>

